.bag-list {
  overflow: auto;
  .bag-item {
    &.chosen {
      background-color: black;
      color: white;
    }
  }
}
.toast {
  position: absolute;
  background: white;
  padding: 1em;
  border: 3px solid black;
}
