// div {
//   border: 3px solid black;
// }

.main-frame {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  .user-panel {
    display: flex;
    flex-direction: column;
    border-right: 3px solid black;
  }
  .main-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}
